<div class="graph" id="measures-graph-dashboard" style="height:520px; width:100%;">
  <div id="measures-graph-header">
    <div id="measures-graph-zooms">
      <strong>Zooms:</strong>
          <button data-zoom="8" class="zoom ">1m</button>
          <button data-zoom="32" class="zoom ">6m</button>
          <button data-zoom="64" class="zoom ">1a</button>
          <button data-zoom="128" class="zoom current">5a</button>
          <button data-zoom="256" class="zoom ">10a</button>
    </div>
    <div id="measures-graph-dates">
      <strong>{{ 'label.range.start'|trans }}:</strong>
      <input type="text" class="datepicker start" />
      <strong>{{ 'label.range.end'|trans }}:</strong>
      <input type="text" class="datepicker end" />
    </div>
  </div>
  <div id="measures-graph-legends">
    <ul>
      <li class="green"><span>{{ 'label.measured values'|trans }}</span></li>
      <li class="orange"><span>{{ 'label.detection limit'|trans }}</span></li>
    </ul>
  </div>
  <div id="measures-graph-chart" style="height:400px; width:100%;"></div>
  <div id="measures-graph-control" style="height:80px; width:100%;"></div>
</div>