	<div class="box map">
      <div class="header">{{ 'main.map.maps of radioactivity measurements'|trans }}</div>
      <div class="content">
        <div class="content-wrap">
          <img src="{{ asset('images/switzerland.png') }}" data-src="{{ asset('images/switzerland.png') }}" alt="" id="switzerland" />
          <img src="" alt="" id="switzerland_zoom" />
          <div id="zoom_closebtn"></div>
        </div>
      </div>
    </div>