<div class="col-lg-8">
<nav class="nav nav-pills">
	
	<li role="presentation" class="active"><a href="{{ path('map') }}">{{ 'menus.welcome'|trans }}</a></li>
  	<li role="presentation"><a href="{{ path('map') }}">{{ 'menus.map'|trans }}</a></li>
  	<li role="presentation"><a href="{{ path('map') }}">{{ 'menus.automatic_networks'|trans }}</a></li>
  	<li role="presentation"><a href="{{ path('map') }}">{{ 'menus.informations'|trans }}</a></li>

</nav>
</div>

<div class="col-lg-4">

  		<div id="lang">
		      <a href="{{ path('map', {'_locale': 'de'}) }}">Deutsch</a>&nbsp;&#124;
		      <a href="{{ path('map', {'_locale': 'fr'}) }}">Français</a>&nbsp;&#124;
		      <a href="{{ path('map', {'_locale': 'it'}) }}">Italiano</a>&nbsp;&#124;
		      <a href="{{ path('map', {'_locale': 'en'}) }}">English</a>
      	</div>
      	<div class="clear"></div>
</div>
